
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hero Academy</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/hero_academy_logo.png"> <!-- https://www.teepublic.com/pin/10477446-mana-potion-illustration -->
</head>
<body style="margin:0;padding:0;">
<div id="full" style="width:100%;height:2000px; background-image:url(/static/img/full.jpg); background-size:contain; background-position:top; background-repeat:no-repeat;"></div>
</body>
</html>
