<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"> <!-- https://www.teepublic.com/pin/10477446-mana-potion-illustration -->
    <title>Pricing Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/pricing.css">
</head>
<body>
    <div id="top">
        <div id="home"><a href="/">← Return Home</a></div>
    </div>
    <div class="pricing-container">
        <div class="pricing-option">
            <h2>Intro Lesson</h2>
            <h3>FREE</h3>
            <ul>
                <li>Set Learning Goals</li>
                <li>Discuss your project</li>
                <li>Plan deliverables</li>
            </ul>
            <a href="mailto:intake@heroacademy.ai?subject=Intro%20session&body=Hi,%20I'd%20like%20to%20learn%20more!" target="_blank" class="btn">START</a>
        </div>
        <div class="pricing-option">
            <h2>1-1 Session</h2>
            <h3>$100/hr</h3>
            <ul>
                <li>Product Design</li>
                <li>Programming</li>
                <li>Deployment</li>
            </ul>
            <a href="mailto:intake@heroacademy.ai?subject=1-1%20session&body=Hi,%20I'd%20like%20to%20learn%20more!" target="_blank" class="btn">START</a>
        </div>
        <div class="pricing-option">
            <h2>Monthly </h2>
            <h3>$400/mo</h3>
            <ul>
                <li>4 x 1-1 sessions</li>
                <li>Weekly Office Hours</li>
                <li>Async text/chat help</li>
            </ul>
            <a href="mailto:intake@heroacademy.ai?subject=Monthly&body=Hi,%20I'd%20like%20to%20learn%20more!" target="_blank" class="btn">START</a>
        </div>
    </div>
</body>
</html>
